{% extends 'base.html' %}

{% block body %}

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style>
    .button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 25px;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
    }

    .button:hover {
        background-color: grey;
    }
  </style>
</head>

<h1><center>DATA FETCH</center></h1>
<h2><center>Welcome to PINCODE details on the web!</center></h2>

<form method='post' action='/pincode'>
<center>

  <table>
    <br><h3>Use this form to submit a search request:</h3>
    <br><tr><td>PIN Code:</td><td><input name='NUMBER' type='number' width='60'></td></tr>
  </table>

  <br><p>When you're ready, click this button:</p><br>
  <button class="button">Proceed</button>

</center>
</form>

{% endblock %}
